.logo {
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.logo--full-page {
  background-image: url("../img/rauh_studios-logo.svg");
  margin: 0 auto;
  height: 16rem;
  width: 16rem;
  position: absolute;
  top: calc(50% - 8rem);
  left: calc(50% - 8rem);
}
